<!doctype html>
<html lang="en">

<head>
<title>Book Display Scraper</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>
    <div>
        <p>Simple index page</p>
    </div>    
        <h1>
            <ul>
                <li><a href=" {{ url_for('hello')}}",>an example link</a></li> 
                <li><a href=" {{ url_for('upload')}}">Upload TSV reading list file</a></li>
            </ul>
        </h1>
    </div>
</body>

</html>